@page "{URLDate:datetime?}"
@model Lab1.Pages.UsersPages.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<style>
    @@media (max-width:575px) {
        .display-4 {
            font-size: 1.5rem;
        }

        .day h5 {
            background-color: #f8f9fa;
            padding: 3px 5px 5px;
            margin: -8px -8px 8px -8px;
        }

        .date {
            padding-left: 4px;
        }
    }

    @@media (min-width: 576px) {
        .day {
            height: 14.2857vw;
        }
    }

    .calendar {
        color: #31184C;
        padding: 10px;
    }

    .display-4 {
        text-align: center;
    }

    .title {
        background-color: #D8EC91;
        color: #31184C;
        text-align: center;
    }

    .btn1 {
        background: #9582aa;
        color: #f8f9fa;
        margin-bottom: 10px;
        display: flex;
        border-radius: 8px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 5px;
    }

    .btn1:active{
            background-color: #9582aa!important;
            border-color: #9582aa!important;
    }

        .btn1:focus {
            background-color: #9582aa !important;
            border: none;
            outline: none;
        }

    .btn-primary {
        background-color: #31184C;
        border-color: #31184C;
    }

        .btn-primary:active {
            background-color: #9582aa;
            border-color: #9582aa;
        }

    .next {
        display: flex;
        float: right;
    }

    .event {
        background-color: #9582aa;
        color: white;
    }

    #calendarIcon {
        fill: #d8ec91;
    }

    h4 {
        font-weight: bold;
    }

    h5 {
        font-weight: bold;
    }

    .btn-info:hover {
        background-color: #9582aa;
        border-color: #9582aa;
    }



    .btn-check:active + .btn-info:focus, .btn-check:checked + .btn-info:focus, .btn-info.active:focus, .btn-info:active:focus, .show > .btn-info.dropdown-toggle:focus {
        box-shadow: none;
    }

    a {
        color: #9582aa;
        ;
    }

        a:hover {
            color: #d8ec91;
            ;
        }

    h1 {
        color: #31184C;
        font-weight: bold;
    }

    h3 {
        color: #31184C;
        font-weight: bold;
    }

    .btn-info {
        --bs-btn-color: #000;
        --bs-btn-bg: #31184C;
        --bs-btn-border-color: #31184C;
        --bs-btn-hover-color: #000;
        --bs-btn-hover-bg: #9582aa;
        --bs-btn-hover-border-color: #9582aa;
        --bs-btn-focus-shadow-rgb: 11,172,204;
        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #9582aa;
        --bs-btn-active-border-color: #9582aa;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #000;
        --bs-btn-disabled-bg: #31184C;
        --bs-btn-disabled-border-color: #31184C;

</style>

<div class="calendar">
    <header>
        <button type="button" class="btn1 btn-info btn-rounded" data-bs-toggle="modal" data-bs-target="#addEventModalBackdrop">Add Event</button>
        <div class="next">

            @{
                if (Model.FirstDayOfMonth > new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1))
                {

                                <a asp-page="Calendar" asp-route-URLDate="@Model.FirstDayOfPrevMonth.ToString("yyyy-M-d")">&larr; @Model.FirstDayOfPrevMonth.ToString("MMMM")</a>

                }
            }
            <a asp-page="Calendar" asp-route-URLDate="@Model.FirstDayOfNextMonth.ToString("yyyy-M-d")">@Model.FirstDayOfNextMonth.ToString("MMMM") &rarr;</a>
        </div>

        <h4 class="display-4 mb-4 ">@Model.FirstDayOfMonth.ToString("MMMM yyyy")</h4>

        <div class="title d-none d-sm-flex p-1">
            <h5 class="col-sm p-1 ">Sunday</h5>
            <h5 class="col-sm p-1 ">Monday</h5>
            <h5 class="col-sm p-1 ">Tuesday</h5>
            <h5 class="col-sm p-1 ">Wednesday</h5>
            <h5 class="col-sm p-1 ">Thursday</h5>
            <h5 class="col-sm p-1">Friday</h5>
            <h5 class="col-sm p-1 ">Saturday</h5>
        </div>
    </header>
</div>
@{
    // Model.FirstDayOfMonth = new DateTime(2023, 2, 1);
    int firstDayOfWeek = (int)Model.FirstDayOfMonth.DayOfWeek;
    DateTime firstDayOfCalendar = Model.FirstDayOfMonth.AddDays(firstDayOfWeek * -1);
    DateTime lastDayOfMonth = Model.FirstDayOfMonth.AddDays(DateTime.DaysInMonth(Model.FirstDayOfMonth.Year, Model.FirstDayOfMonth.Month) - 1);
    int lastDayOfMonthDayOfWeek = (int)lastDayOfMonth.DayOfWeek;
    int daysToAdd = 6 - lastDayOfMonthDayOfWeek;

    DateTime lastDayOfCalendar = new DateTime(Model.FirstDayOfMonth.Year, Model.FirstDayOfMonth.Month, DateTime.DaysInMonth(Model.FirstDayOfMonth.Year, Model.FirstDayOfMonth.Month)).AddDays(daysToAdd);
    double totalDaysInCalendar = (lastDayOfCalendar - firstDayOfCalendar).TotalDays + 1;
    int rowsInCalendar = (int)totalDaysInCalendar / 7;

    for (int i = 0; i < rowsInCalendar; i++)
    {
    <div class="row border border-right-0 border-bottom-0">

                        @{
                for (int d = 0; d < 7; d++)
                {
                    int daysFromFirstDay = (i * 7) + d;
                    DateTime thisDay = firstDayOfCalendar.AddDays(daysFromFirstDay);
                    string dayDivClasses = "day col-sm p-2 border border-left-0 border-top-0 text-truncate";
                    if (thisDay < Model.FirstDayOfMonth || thisDay > lastDayOfMonth)
                    {
                        dayDivClasses = "day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted";
                    }

                                            <div class="@dayDivClasses">
                                                <h5 class="row align-items-center">
                                                    <span class="date col-1">@thisDay.Day</span>
                                                    <small class="col d-sm-none text-center text-muted">@thisDay.ToString("dddd")</small>
                                                    <span class="col-1"></span>
                                                </h5>
                                                @{
                            bool eventFound = false;

                            foreach (DataClasses.Events thisEvent in Model.Events)
                            {
                                if (thisEvent.EventDate == thisDay)
                                {
                                    eventFound = true;

                                                                        <div class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small " title="@thisEvent.EventName">
                                                                        <p>@thisEvent.EventName</p>
                                                                        <p>@thisEvent.EventTime</p>
                                                                        <p>@thisEvent.EventDescription</p>
                                                                        <a style="color: #fff" href="@thisEvent.EventLink"> Meeting Link </a>
                                                                        </div>
                                    
                                }
                            }



                            if (!eventFound)
                            {
                                                                    <p class="d-sm-none">No events</p>
                            }
                                                }
                                            </div>
                }
                        }
    </div>
    }

}

<!-- Add Event Modal -->
<div class="modal fade" id="addEventModalBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addEventModalBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-page="Calendar" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addEventModalBackdropLabel">Add Event</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="eventName" class="form-label"><h3>Event Name</h3></label>
                        <input required type="text" class="form-control" id="eventName" asp-for="@Model.NewEvent.EventName">
                    </div>
                    <div class="mb-3">
                        <label for="eventDescription" class="form-label"><h3>Event Description</h3></label>
                        <input required type="text" class="form-control" id="eventDescription" asp-for="@Model.NewEvent.EventDescription">
                    </div>
                    <div class="mb-3">
                        <label for="eventDate" class="form-label"><h3>Event Date</h3></label>
                        <input required type="date" class="form-control" id="eventDate" asp-for="@Model.NewEvent.EventDate">
                    </div>
                    <div class="mb-3">
                        <label for="eventTime" class="form-label"><h3>Event Time</h3></label>
                        <input required type="text" class="form-control" id="eventTime" asp-for="@Model.NewEvent.EventTime">
                    </div>
                    <div class="mb-3">
                        <label for="eventLink" class="form-label"><h3>Event Link</h3></label>
                        <input required type="text" class="form-control" id="eventLink" asp-for="@Model.NewEvent.EventLink">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form> 
        </div>
    </div>
</div>
<br />
<br />
<br />
