@page
@model Lab1.Pages.UsersPages.ViewOtherUserModel
@{
    ViewData["Title"] = "View Users";
}

<h2 class="h2">Users Table</h2>
<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>ProfessionalEmail</th>
            <th>Phone</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var user in Model.DisplayedUser)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.ProfessionalEmail</td>
                    <td>@user.Phone</td>
                    <td>@user.Position</td>
                </tr>
            }
        }
    </tbody>
</table>
