@page
@using Lab1.Pages.DB_Class;
@using System.Data.SqlClient;
@model Lab1.Pages.ProjectsPages.IndexModel
@{

    ViewData["Title"] = "View Projects";

}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<style>

    .projects {
        display: grid;
        margin: 0 auto;
        max-width: 1500px;
        grid-template-columns: repeat(12, 1fr);
        padding: 20px;
        padding-inline-start: 2%;
    }

    header {
        grid-column: 1/13;
    }

    aside {
        grid-column: 1/5;
        background-color: white;
        padding: 20px;
        border-style: solid;
        border-width: .5px;
        border-color: lightslategray;
    }

    .cards {
        grid-column: 5/13;
        background-color: white;
        padding: 20px;
    }

    .btn-primary {
        background-color: #31184C;
        border: #31184C;
    }

        .btn-primary:hover {
            background-color: #9582AA;
        }

    .form-control {
        padding: 10px;
    }

    p {
        font-family: Helvetica, Sans-Serif;
        color: black;
    }

    h2 {
        font-family: Helvetica, Sans-Serif;
        font-weight: bold;
        color: #31184C;
        padding-bottom: 20px;
    }

    h3 {
        font-family: Helvetica, Sans-Serif;
        font-weight: bold;
        color: #31184C;
        padding: 5px;
        background-color: #D8EC91;
    }

    h4 {
        font-family: Helvetica, Sans-Serif;
        font-weight: bold;
        color: black;
    }

    h5 {
        font-family: Helvetica, Sans-Serif;
        font-weight: bold;
        color: #31184C;
    }

    h6 {
        font-family: Helvetica, Sans-Serif;
        color: grey;
    }

    a {
        text-decoration: none;
    }

    @@media only screen and (min-width: 620px) {

        aside {
            grid-column: 1/4;
        }

        .cards {
            grid-column: 4/13;
        }
    }

    @@media only screen and (min-width: 900px) {

        aside {
            grid-column: 1/4;
        }

        .cards {
            grid-column: 4/13;
        }
    }

</style>

<h2 class="h2">Projects Table</h2>

<a class="btn btn-primary" asp-page="AddProject">Create a Project</a>
<a class="btn btn-primary" asp-page="MyProjects">View My Projects</a>

<div class="projects">
    <div class="cards">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @{
                SqlDataReader QueryResults = DBClass.ProjectCardDisplay();

                while (QueryResults.Read())
                {
                        <div class="col">
                            <div class="card h-100">
                                <img src="images/purplecover.png" class="card-img-top" alt="...">
                                <div class="card-title">
                                    <h4>@QueryResults["ProjectName"]</h4>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">@QueryResults["ProjectDescription"]</p>
                                    <h5 class="card-owner">@QueryResults["ProjectOwner"]</h5>
                                    <h6 class="Duration">@String.Format("{0:M/d/yyyy}",@QueryResults["ProjectBeginDate"])</h6>
                                    <div class="card-footer">

                                    @{
                                        SqlDataReader QueryResults1 = DBClass.RequestButtonStatus((int)QueryResults["ProjectID"], HttpContext.Session.GetString("username"));
                                        if (!QueryResults1.HasRows){
                                            <form asp-page="Index">
                                                <button type="submit" class="simpleButton" id="projReqButton" asp-route-ProjectID="@QueryResults["ProjectID"]" asp-route-ProjectOwnerID="@QueryResults["UserID"]">Request to Join</button>
                                            </form>
                                        }
                                        else{
                                            <div>Request Pending...</div>
                                        }
                                    }
                                    </div>
                                </div>
                            </div>
                        </div>
                }
            }

        </div>
    </div>
</div>
<br />
<br />