@page
@using Lab1.Pages.DB_Class;
@using System.Data.SqlClient;
@model Lab1.Pages.ProjectsPages.MyProjectsModel
@{
}

<!-- Luke Dornburgh and Andres Villalon submission for Lab1 Part 3!-->
<a asp-page="Index" class="btn btn-secondary">&larr; Go Back</a>
<h2 class="h2">My Projects</h2>

<!-- Need to run the myproject query which will get all the projects we own or are a part of, check the owner id of each project to
    see if it matches the logged in user, if it does, put it in the Owned projects catergory
-->

@{
    //this gives us a query with the right data for each project that we own
    SqlDataReader joinedProject = DBClass.MyProjectsTableReader(HttpContext.Session.GetString("username"));

    while(joinedProject.Read()){

        <p>@joinedProject["ProjectName"]</p>
        <p>@joinedProject["ProjectDescription"]</p>
        var StartDate = Convert.ToDateTime(joinedProject["ProjectBeginDate"]).ToString("MM/dd/yyyy");
        <p>@StartDate</p>
        <p>@joinedProject["ProjectOwner"]</p>
        <br />
    }

    joinedProject.Close();

}

@{
    SqlDataReader ownedProject = DBClass.MyOwnedProjects(HttpContext.Session.GetString("username"));

    while (ownedProject.Read())
    {

        <p>@ownedProject["ProjectName"]</p>
        <p>@ownedProject["ProjectDescription"]</p>
        var StartDate = Convert.ToDateTime(ownedProject["ProjectBeginDate"]).ToString("MM/dd/yyyy");
        <p>@StartDate</p>
        <p>@ownedProject["ProjectOwner"]</p>
        <br />
    }

    ownedProject.Close();

}