@page
@using Lab1.Pages.DB_Class;
@using System.Data.SqlClient;
@model Lab1.Pages.ProjectsPages.RequestNotificationsModel
@{

    ViewData["Title"] = "View Requests";
}

<style>
    .tabs {
        background: #D8EC91;
        margin: 10px 50px 15px 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    #projecticon {
        max-width: 90px;
        margin: 10px 10px 10px 75px;
    }

    .card {
        margin: 10px 50px 15px 50px;
        background: #9582AA80;
        font-size: 20px;
    }

    .card-time {
        float: right;
        font-size: 15px;
    }

    .card-text {
        font-size: 15px;
    }

    .card-body {
    }

    .card-title {
        display: inline;
    }

    .status {
        float: right;
    }

    #requestIcon {
        fill: blue;
    }

</style>

<h2>Requests To Join My Projects</h2>

@{
    SqlDataReader QueryResults = DBClass.RequestTableReader(HttpContext.Session.GetString("username"));

    while (QueryResults.Read())
    {

        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="~/images/project.png" class="card-img" alt="..." id="projecticon">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <p class="card-title">"<u><b>@QueryResults["FullName"]</b></u>" has requested to join your project: <b>@QueryResults["ProjectName"]</b></p>
                        <div class="status">
                            Status: @QueryResults["Status"]
                            @{
                                if (QueryResults["Status"].Equals("Pending"))
                                {

                                    <form asp-page="RequestNotifications">
                                        <button class="btn btn-primary type="submit" asp-page-handler="Approve" asp-route-ProjectID="@QueryResults["ProjectID"]" asp-route-UserID="@QueryResults["UserID"]">Approve</button>
                                    </form>
                                    <form asp-page="RequestNotifications">
                                        <button class="btn btn-primary" type="submit" asp-page-handler="Deny" asp-route-ProjectID="@QueryResults["ProjectID"]" asp-route-UserID="@QueryResults["UserID"]">Deny</button>
                                    </form>

                                }
                                else if (QueryResults["Status"].Equals("Approved"))
                                {

                                    <i class="fa-solid fa-circle-check"></i>

                                }
                                else
                                {

                                    <i class="fa-solid fa-ban"></i>


                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    QueryResults.Close();
}




<h2>Invites to Other Projects</h2>

@{
    SqlDataReader QueryResults1 = DBClass.InviteTableReader(HttpContext.Session.GetString("username"));

    while (QueryResults1.Read())
    {

        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="~/images/project.png" class="card-img" alt="..." id="projecticon">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <p class="card-title">"<u><b>@QueryResults1["FullName"]</b></u>" Invited you to: <b>@QueryResults1["ProjectName"]</b></p>
                        <div class="status">

                        @{
                            if (QueryResults1["Status"].Equals("Pending"))
                            {

                                <form asp-page="RequestNotifications">
                                    <button class="btn btn-primary" type="submit" asp-page-handler="Accept" asp-route-ProjectID="@QueryResults1["ProjectID"]" asp-route-UserID="@QueryResults1["UserID"]">Accept</button>
                                </form>
                                <form asp-page="RequestNotifications">
                                    <button class="btn btn-primary" type="submit" asp-page-handler="Reject" asp-route-ProjectID="@QueryResults1["ProjectID"]" asp-route-UserID="@QueryResults1["UserID"]">Reject</button>
                                </form>

                            }
                            else if (QueryResults1["Status"].Equals("Approved"))
                            {
                                <span>Status: Accepted</span>
                                <i class="fa-solid fa-circle-check"></i>

                            }
                            else
                            {
                                <span>Status: Rejected</span>
                                <i class="fa-solid fa-ban"></i>

                            }
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    QueryResults1.Close();
}

<h2>Status of Invites I've sent out</h2>

@{
    SqlDataReader QueryResults2 = DBClass.SentInvites(HttpContext.Session.GetString("username"));

    while (QueryResults2.Read())
    {

        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="~/images/project.png" class="card-img" alt="..." id="projecticon">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <p class="card-title">You Invited: "<u><b>@QueryResults2["FullName"]</b></u>" to @QueryResults2["ProjectName"]</p>
                        <div class="status">Status: @QueryResults2["Status"]</div>
                    </div>
                </div>
            </div>
        </div>
    }
    QueryResults2.Close();
}
<br />
<br />
<br />