@page
@using Lab1.Pages.DB_Class;
@using System.Data.SqlClient;
@model Lab1.Pages.ProjectsPages.RequestNotificationsModel
@{

    ViewData["Title"] = "View Requests";
}

<h2>Requests To Join My Projects</h2>
<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Requestor Name</th>
            <th>Requestor Email</th>
            <th>Project Name</th>
            <th>Status</th>
            <th>Approve or Deny</th>

        </tr>
    </thead>
    <tbody>


        @{
            SqlDataReader QueryResults = DBClass.RequestTableReader(HttpContext.Session.GetString("username"));

            while (QueryResults.Read())
            {
                <tr>
                    <td>@QueryResults["FullName"]</td>
                    <td>@QueryResults["Email"]</td>
                    <td>@QueryResults["ProjectName"]</td>
                    <td>@QueryResults["Status"]</td>
                    @{
                        if (QueryResults["Status"].Equals("Pending"))
                        {
                            <td>
                                <form asp-page="RequestNotifications">
                                    <button type="submit" class="submitButton" asp-page-handler="Approve" asp-route-ProjectID="@QueryResults["ProjectID"]" asp-route-UserID="@QueryResults["UserID"]">Approve</button>
                                </form>
                                <form asp-page="RequestNotifications">
                                    <button type="submit" class="submitButton" asp-page-handler="Deny" asp-route-ProjectID="@QueryResults["ProjectID"]" asp-route-UserID="@QueryResults["UserID"]">Deny</button>
                                </form>
                            </td>
                        }
                        else if (QueryResults["Status"].Equals("Approved"))
                        {
                            <td>
                                <i class="fa-solid fa-circle-check"></i>
                            </td>
                        }
                        else
                        {
                            <td>
                                <i class="fa-solid fa-ban"></i>
                            </td>

                        }
                    }
                </tr>
            }
        }



    </tbody>
</table>


<h2>Invites to Other Projects</h2>
<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Project Owner</th>
            <th>Project Name</th>
            <th>Project Owner Email</th>
            <th>Status</th>
            <th>Accept or Reject</th>

        </tr>
    </thead>
    <tbody>


        @{
            SqlDataReader QueryResults1 = DBClass.InviteTableReader(HttpContext.Session.GetString("username"));

            while (QueryResults1.Read())
            {
                <tr>
                    <td>@QueryResults1["FullName"]</td>
                    <td>@QueryResults1["Email"]</td>
                    <td>@QueryResults1["ProjectName"]</td>
                    <td>@QueryResults1["Status"]</td>
                    @{
                        if (QueryResults1["Status"].Equals("Pending"))
                        {
                            <td>
                                <form asp-page="RequestNotifications">
                                    <button type="submit" class="submitButton" asp-page-handler="Accept" asp-route-ProjectID="@QueryResults1["ProjectID"]" asp-route-UserID="@QueryResults1["UserID"]">Accept</button>
                                </form>
                                <form asp-page="RequestNotifications">
                                    <button type="submit" class="submitButton" asp-page-handler="Reject" asp-route-ProjectID="@QueryResults1["ProjectID"]" asp-route-UserID="@QueryResults1["UserID"]">Reject</button>
                                </form>
                            </td>
                        }
                        else if (QueryResults1["Status"].Equals("Approved"))
                        {
                            <td>
                                <i class="fa-solid fa-circle-check"></i>
                            </td>
                        }
                        else
                        {
                            <td>
                                <i class="fa-solid fa-ban"></i>
                            </td>
                        }
                    }
                </tr>
            }
        }

    </tbody>
</table>

<h2>Status of Invites I've sent out</h2>
<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Invitee Name</th>
            <th>Project Name</th>
            <th>Status</th>

        </tr>
    </thead>
    <tbody>

        @{
            SqlDataReader QueryResults2 = DBClass.SentInvites(HttpContext.Session.GetString("username"));

            while (QueryResults2.Read())
            {
                <tr>
                    <td>@QueryResults2["FullName"]</td>
                    <td>@QueryResults2["ProjectName"]</td>
                    <td>@QueryResults2["Status"]</td>
                </tr>
            }
        }

    </tbody>
</table>